.task-card {
  padding: 16px;
  border-radius: 8px;
  .task-card-top {
    display: flex;
    justify-content: space-between;
    .task-card-top-heading {
      .task-card-top-heading__title {
        font-weight: bold;
      }
      .task-card-top-heading__time {
        margin-top: 8px;
        font-size: 13px;
      }
    }
    .task-card-top-day {
      font-size: 13px;
    }
  }
}
.task-card.today {
  background: var(--color-today_secondary);
  .task-card-top-heading {
    .task-card-top-heading__title {
      color: var(--color-today);
    }
    .task-card-top-heading__time {
      color: var(--color-today_text);
    }
  }
  .task-card-top-day {
    color: var(--color-today_text);
  }
}
