.task-card {
  padding: 16px;
  border-radius: 8px;
  .task-card-top {
    display: flex;
    justify-content: space-between;
    .task-card-top-heading {
      .task-card-top-heading__title {
        font-weight: bold;
      }
      .time {
        margin-top: 8px;
      }
    }
    .task-card-top-day {
      font-size: 13px;
    }
  }
  .task-card-footer {
    display: flex;
    margin-top: 8px;
    .task-card-footer__description {
      flex: 1;
      color: var(--color-older_text);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 6px;
      margin-right: 8px;
    }
    .task-card-footer-actions {
      flex: 0;
      display: flex;
      justify-content: flex-end;
      .task-card-footer__action {

      }
    }
  }
}

.time {
  font-size: 13px;
}

.task-card.today {
  background: var(--color-today_secondary);
  .task-card-top-heading {
    .task-card-top-heading__title {
      color: var(--color-today);
    }
    .time {
      color: var(--color-today_text);
    }
  }
  .task-card-top-day {
    color: var(--color-today_text);
  }
}
.task-card.tomorrow {
  background: var(--color-tomorrow_secondary);
  .task-card-top-heading {
    .task-card-top-heading__title {
      color: var(--color-tomorrow);
    }
    .time {
      color: var(--color-tomorrow_text);
    }
  }
  .task-card-top-day {
    color: var(--color-tomorrow_text);
  }
}
.task-card.older {
  background: var(--color-older_secondary);
  .task-card-top-heading {
    .task-card-top-heading__title {
      color: var(--color-older);
    }
    .time {
      color: var(--color-older_text);
    }
  }
  .task-card-top-day {
    color: var(--color-older_text);
  }
}
