.header {
  padding: 8px 12px 12px 12px;
  background: var(--color-primary);
  color: var(--color-text_reversed);
  display: flex;
  justify-content: center;
  .header-logo {
    font-size: 32px;
  }
}
