.header {
  padding: 8px 12px 12px 12px;
  background: var(--color-primary);
  color: var(--color-text_reversed);
  display: flex;
  justify-content: center;
  position: relative;
  .header-logo {
    font-size: 32px;
  }
  .header-back-button {
    position: absolute;
    left: 18px;
    top: 16px;
    display: flex;
    align-items: center;
  }
}
